disable_mlock = false
ui=true

pid_file = "/container/config/vault/vault.pid"

log_level = "Warn"


storage "raft" {
  path = "/vault/storage"
  node_id ="vault2"
}

listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = 0
  tls_cert_file = "/container/config/vault/certs/vault.crt"
  tls_key_file  = "/container/config/vault/certs/vault.key"
}

seal "transit" {
  address = "{{ VAULT_TRANSIT_ADDRESS }}"
  disable_renewal = "false"
  key_name = "{{ VAULT_TRANSIT_KEY_NAME }}"
  token = "{{ VAULT_CLIENT_TOKEN }}"
  mount_path = "transit/"
  tls_skip_verify = "false"
}

api_addr = "https://0.0.0.0:8200"
cluster_addr = "https://127.0.0.1:8200"
