disable_mlock = false
disable_clustering = true

pid_file = "/container/config/vault/vault.pid"

log_level = "Warn"

storage "file" {
  path = "/vault/file"
}


listener "tcp" {
  address     = "127.0.0.1:8200"
  tls_disable = 0
  tls_cert_file = "/container/config/vault/certs/vault.crt"
  tls_key_file  = "/container/config/vault/certs/privkey.pem"
}
